@import "../../global.scss";

.resume{
  background-color: $mainColor;
  width: 10%;
  // border: 1px solid rgb(123, 147, 36);
  
  
  
  a{
    width: 30%;
    margin: auto;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @include mobile {
      width: 75vw;
      height: 80vh;
    }
    img{
      // border: 1px solid red;
      
      height: 80vh;
      border-radius: 6px;
      @include mobile {
        width: 75vw;
        height: 80vh;
      }
      

    }
    .resumeBtn{
      @include btn
    }
  }
}