@import "../../global.scss";
.about{
    color: white;
    .heading{
        // border: 1px solid red;
        margin: 6vh 0 0 0;
        // width: 100%;
        // margin: auto;
        h1{
            font-size: 50px;
            width: 240px;
            // border: 1px solid red;
            margin: auto;
        }
    }
    .content{
        width: 90%;
        margin: auto;
        font-size: 1.25rem;
        letter-spacing: 1.5px;
        word-spacing: 5px;
        line-height: 35px;
        @include mobile {
            width: 100%;
            font-size: .8rem;
        letter-spacing: 1px;
        word-spacing: 3px;
        line-height: 20px;
          }

        p{
            margin: 40px;
            text-align: center;
        }
    }
}