@import "../../global.scss";

.contact {
  background-color: $mainColor;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 70%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 30px;
      color: white;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        border-radius: 6px;
        border: none;
        padding: 6px;
        @include mobile {
          width: 200px;
          height: 20px;
        }
      }
      
      textarea {
        padding: 6px;
        border-radius: 6px;
        width: 300px;
        height: 200px;
        font-size: 14px;
        border: none;
        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      .button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}
