@import "../../global.scss";

.works {
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 90vh;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      // border: 1px solid white;
      h1,
      p {
        color: white;
        word-spacing: 5px;
        letter-spacing: 1.8px;
      }
      div {
        height: 25%;
        width: 60%;
        display: flex;
        // border: 1px solid white;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: yellow;
      }
      .links {
        display: flex;
        justify-content: space-evenly;
        a {
          .github {
            color: yellow;
            width: 30px;
            height: 30px;
            &:hover{
              color: #ff0080
            }
          }
        }
        a {
          button {
            @include btn;
          }
        }
      }

      .item {
        width: 650px;
        height: 50%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 80%;
          height: 150px;
          margin: 15px 0;
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
