@import "../../global.scss";
#footer{
    height: 10vh;
    background-color: $sectionColor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .copy{
        p{
            color: white;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            word-spacing: 1.5px;
            letter-spacing: 2px;
            // border: 1px solid red;
            span{
                margin: 4px;
            }
        }

    }

}

