

$width: 768px;


$activeColor: #3e023d;
$mainColor: #001220;
$slideColor: #034078;
$mainFont: 'Poppins', sans-serif;
$cursiveFont: 'Satisfy', cursive;
$sectionColor: #0a0b3a;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}
